ul.menus-filter
    li(style='--delay: 1;', tabindex='0').dropdown-el
        button.drop
            span.name-filter(title='Марка') Марка
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Mercedes
            li
                a(onclick="filter(this)") BMW
            li
                a(onclick="filter(this)") Toyota

    li(style='--delay: 2;', tabindex='0').dropdown-el
        button.drop
            span.name-filter(title='Модель') Модель
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") AMG
            li
                a(onclick="filter(this)") GLS
            li
                a(onclick="filter(this)") GLC

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button.drop
            span.name-filter Год
            span.arrow
        ul.dropdown
            input.w3-round-large(type='number', name='mileage', min=0)


    li(style='--delay: 3;', tabindex='0').dropdown-el
        button.drop
            span.name-filter Цвет
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Красный
            li
                a(onclick="filter(this)") Синий
            li
                a(onclick="filter(this)") Голубой

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button.drop
            span.name-filter Кузов
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Седан
            li
                a(onclick="filter(this)") Купе
            li
                a(onclick="filter(this)") Внедорожник

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button.drop
            span.name-filter Пробег
            span.arrow
        ul.dropdown
            input.w3-round-large(type='number', name='mileage', min=0)

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button.drop
            span.name-filter Двигатель
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Бензин
            li
                a(onclick="filter(this)") Дизель

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button.drop
            span.name-filter Коробка
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Автомат
            li
                a(onclick="filter(this)") Механика

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button.drop
            span.name-filter Привод
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Передний
            li
                a(onclick="filter(this)") Задний
            li
                a(onclick="filter(this)") Полный

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button.drop
            span.name-filter Руль
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Правый
            li
                a(onclick="filter(this)") Левый

    button(onclick="sendForm(this)") Отправить форму

//     -
//         for item in db_dataset
//             console.log(item)
//
//
//     //include mixins/one-param-filter
//     //for item in db_dataset
//     //    +one-param-filter(item, db_dataset[item])
// //