.filter
    label  Filter:
    br
    input.stock(class="w3-check" onchange='filter(this)' type='checkbox' id='stock')
    label  in stock
    br
    input.date(class="w3-check" onclick='filter(this)' type='checkbox' id='returnDate')
    label  return expired
    br

