extends index

block content
    .leftpanel
        include filter
        include mixins/modal
        +dialMod('add', 'Append book', 'addBook')

    .bookBox#bookBox
        include mixins/arrBook
        for item in books
            +arrBook(item)