doctype html
html
    head
        meta(charset='utf-8')
        title= title
        //adds= adds
        link(rel="stylesheet", href="/public/css/w3.css")
        link(rel="stylesheet", href="/public/css/auto-trade.css")
        link(rel="stylesheet", href="https://fonts.cdnfonts.com/css/julius-sans-one")
        link(rel="stylesheet" href='/font-awesome-4.7.0/css/font-awesome.min.css')
        script(src='/public/js/jquery.min.js')
        script(src="/public/js/auto-filter.js")


    body(style='background-color: #1F2833')
    if status == "Пользователь"
        include navbar.pug
    else
        include navbar-admin
    block content
        .left-panel
            .w3-container
                .w3-container.add-container(style="display: inline-block;color:#66FCF1;")
                    .auto-cards
                        include mixins/arrAdds
                        // for item in adds
                            //if item.ads.length > 0
                        +arrAdds(adds)
        if url !== "/mainseller" && url !== "/mainadmin"
            .right-panel
                // -console.log(db_dataset)
                //form(action="/mainfilter" method="POST" style="margin: 10px")
                include auto-filter
                form(action=url method="POST" style="margin: 10px")
                    include pagination

        //.w3-container.auth-form
        //    form(action="/auth" method="POST" style="margin: 10px")
        //        .auth-input.w3-round-large
        //            label Логин:
        //            =" "
        //            input.w3-round-large(type='text', placeholder='Логин', name='login')
        //        .auth-input.w3-round-large
        //            label Пароль:
        //            =" "
        //            input.w3-round-large(type='text', placeholder='Пароль', name='password')
        //        button.w3-button.w3-round-large(style="background-color: #01ACC6; font-size : 25px;"
        //            type="submit") Войти
        if url === "/mainseller"
            .mainseller-forms
                form(action="/create_advertisment", method="get")
                    button.mainseller-create-advt-button(style="background-color: #45A29E; color: white") Создать объявление
                form(action=url method="POST" style="margin: 10px")
                    include pagination
        else if url === "/mainadmin"
            .mainseller-forms
                form(action="/adminvalidation/all", method="get")
                    button.mainseller-create-advt-button(style="background-color: #45A29E; color: white") Опубликовать всё
                form(action=url method="POST" style="margin: 10px")
                    include pagination

