doctype html
html
    head
        link(rel="stylesheet", href="/public/css/auto-trade.css")
    .navbar
        .navbar-right
            a(href="https://www.youtube.com/") Главная
        .navbar-left
            a(href="https://www.youtube.com/") Проверка объявлений
        .navbar-left
            a(href="https://www.youtube.com/") Статистика


block content