doctype html
html
    head
        link(rel="stylesheet", href="/public/css/auto-trade.css")
    .navbar
        .navbar-right
            a(href="/main") Главная
        .navbar-left
            a(href="/mainadmin") Проверка объявлений
        .navbar-left
            a(href="/admin") Статистика


block content