.pagination
    button.p(style='color: #66FCF1;' name="left" type="submit") &#129104
    p(style='color: white;') #{page}/#{pages}
    button.p(style='color: #66FCF1;' name="right" type="submit") &#129106