h1(style='color: #66FCF1;') Отзывы
.reviews-div
    .reviews
        // for item in reviews
        //     .review
        //         p #{item.num}
        //         p #{item.name}: #{item.comment}

        - for (var i = 0; i < 10; ++i)
            .review
                p 4/5
                p Андрей: Машина огонь

    .w3-button.w3-hover-aqua.review-btn() Оставить отзыв
