@font-face {
    font-family: kekfont;
    src: url(font/JuliusSansOne-Regular.ttf) format('ttf');
    font-size: 20px;
}
.header{
    font-family: kekfont;
    background-color: #0B0C10;
    color: #01ACC6;
    /*font-family: 'Julius Sans One', sans-serif;*/
    font-size: 64px;
    min-height: 114px;
    padding: 26px;
}

.auth-form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.auth-input{
    background-color: #01ACC6;
    font-size: 25px;
    padding: 10px;
    margin: 24px;
}
.auth-input input{
    background-color: #1F2833;
    color: white;
}
::placeholder{
    color: white;
 }
input:focus::placeholder{
    color: grey;
}

.watch-advt-info,
.watch-advt-info input {
    font-family: "JetBrains";
    font-size: 20px;
    color: #66FCF1;
    background-color: #1F2833;

}

.create-advt-all-info{
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

.create-advt-photo-price{
    font-family: JetBrains;
    color: #66FCF1;
}

.create-advt-photo img{
    margin-top: 50px;
    max-width: 400px;
    max-height: 400px;
}

.create-advt-btn button{
    background-color: #45A29E;
    color: #0B0C10;
    justify-content: center;
}

.create-advt-btn{
    justify-content: center;
    padding-top: 10px;
    display: flex;
}

.navbar,
.navbar a {
    text-decoration: none;
    display: flex;
    font-family: "JetBrains";
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    background-color: #0B0C10;
}

.navbar-right {
    font-family: "JetBrains";
    background-color: #0B0C10;
    margin-left: 20px;
    color: #01ACC6;
    font-size: 20px;
    margin-right: 50%;
}

.navbar-left{
    font-family: "JetBrains";
    background-color: #0B0C10;
    margin-left: 25px;
    font-size: 20px;
    color: #01ACC6;
    margin-right: 1px;
}

.auto-cards{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: space-between;
}

.auto-card{
    text-align: center;
    display: block;
    margin: 20px;
}

@font-face {
font-family: "JetBrains";
src: url("/public/css/font/JetBrainsMonoNL-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



ul {
    list-style: none;
    left: 0;
}

ul li {
    font-size: 18px;
}

ul li a {
    display: block;
    text-decoration: none;
}

ul li a, ul li button {
    padding: 0.7rem 1rem;
    text-align: left;
    color: inherit;
}

.menus-filter {
    font-family: "JetBrains";
    background-color: #45A29E;
    margin: 0;
    padding: 10px;
}

.dropdown {
    background-color: #1F2833;
    color: #66FCF1;
    padding: 2px 1.5rem;
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
}

button.drop {
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}

.arrow {
    color: black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
}

li:focus-within .dropdown {
    /*height: 145px;*/
    height: auto;
    padding: 10px;
    left: 0;
}

li:focus-within .arrow {
    transform: rotate(180deg);
}


.left-panel{
    float: left;
    width: 80%;
    height: 100%;
}

.right-panel{
    float: right;
    width: 20%;
    height: 100%;
    padding: 20px;
}

.send-filter{
    margin: 10px;
    padding: 20px;
    background-color: #0B0C10;
    color: #01ACC6;
}
