mixin arrAdds(item)
    - for(let i = 0; i < item.length; i++)
        .auto-card
            .create-advt-photo
                img(src="1.jpg")
            h5 #{item[i].brand} #{item[i].model} #{item[i].year}
            h5 #{item[i].price}₽