mixin msg(id)
    button(class ="w3-button w3-red fa fa-trash-o" aria-hidden="true"
        onclick="document.getElementById('id02').style.display='block'" style="margin: 10px; float: right")

    #id02(class="w3-modal w3-animate-opacity" style="text-align: center")
        div(class="w3-modal-content w3-card-4")
            header(class="w3-container w3-teal")
                span(onclick="document.getElementById('id02').style.display='none'"
                    class="w3-button w3-large w3-display-topright fa fa-times-circle" aria-hidden="true")
                h2 Delete book
            div(class="w3-container")
                p Are you sure that you want delete this book?
                form(action="book/" + id method ="POST" style="margin: 10px; display: inline-block;")
                    button(class="w3-button w3-white w3-border w3-border-purple w3-hover-purple" type="submit") Yes
                button(onclick="document.getElementById('id02').style.display='none'"
                    class="w3-button w3-white w3-border w3-border-purple w3-hover-purple" type="submit"
                    style="display: inline-block") No